*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}
.nav-assist{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin: 1em 0 0 1em;

}
nav{
    position: fixed;

}
a{
    text-decoration: none !important;
    color: white;
}
a:hover{
    text-decoration: none !important;
    color: white;
}
article{
    background-color: black;
}
.article-content{
    width: 700px;
    max-width: 100%;
    padding: 2em 2em 2em 2em;
    margin: 0 auto;
    display: block;
}
.article-title{    
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 4.2rem;
    text-transform: uppercase;
    /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: white;
  
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
@media (max-width:526px){
    .article-content{
        width: auto;
        padding: 2em 1em 2em 1em;
        margin: 0 auto;
        display: block;
    }
    .article-title{    
        font-family: 'Arimo', sans-serif;
        font-weight: bold;
        font-size: 3.2rem;
        text-transform: uppercase;
    }
}

