a{
    text-decoration: none !important;
    color: white;
}
a:hover{
    text-decoration: none !important;
    color: white;
}
article{
    background-color: black;
}
.article-content{
    width: 700px;
    max-width: 100%;
    padding: 2em 2em 2em 2em;
    margin: 0 auto;
    display: block;
}
.article-title{    
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 4.2rem;
    text-transform: uppercase;
}